.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  margin-bottom: calc(var(--header-height) * -1);
  padding: 0 desktop-vw(90px);
  position: relative;
  z-index: z-index('header');

  --t-color-primary: #{transparent};
  --t-color-secondary: #{transparent};

  &.features {
    --t-color-primary: #{var(--water-squirt)};
    --t-color-secondary: #{var(--sparkling-snow)};
  }

  &.services {
    --t-color-primary: #{var(--alyssa)};
    --t-color-secondary: #{var(--placebo-orange)};
  }

  &.resources {
    --t-color-primary: #{var(--heron-plume)};
    --t-color-secondary: #{var(--leukocyte-white)};
  }

  .logoC {
    @include dims(desktop-vw(111px), desktop-vw(49px));
  }

  .actions {
    column-gap: desktop-vw(10px);
    display: flex;

    .btn {
      align-items: center;
      border: 1px solid var(--lavender-syrup);
      border-radius: desktop-vw(6px);
      column-gap: desktop-vw(8px);
      display: flex;
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 500;
      padding: desktop-vw(3px) desktop-vw(15px);

      .iconC {
        height: desktop-vw(4px);
        width: desktop-vw(12px);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.navigation {
  align-items: center;
  background: var(--leukocyte-white);
  border-radius: desktop-vw(11px);
  column-gap: desktop-vw(4px);
  display: flex;
  height: var(--nav-height);
  justify-content: center;
  padding: 0 desktop-vw(4px);
  z-index: z-index('navigation');

  &.fixed {
    position: fixed;
    top: calc(
      var(--upcoming-accordion-height) +
        ((var(--header-height) - var(--nav-height)) / 2)
    );
    left: 50%;
    transform: translateX(-50%);
  }

  // position: absolute;
  // top: calc(((var(--header-height) - var(--nav-height)) / 2));
  // left: 50%;
  // transform: translateX(-50%);

  --t-color-primary: #{#000};
  --t-color-secondary: #{#000};

  &.features {
    --t-color-primary: #{var(--water-squirt)};
    --t-color-secondary: #{var(--sparkling-snow)};
  }

  &.services {
    --t-color-primary: #{var(--alyssa)};
    --t-color-secondary: #{var(--placebo-orange)};
  }

  &.resources {
    --t-color-primary: #{var(--heron-plume)};
    --t-color-secondary: #{var(--leukocyte-white)};

    .menu {
      padding: desktop-vw(5px);

      .content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .menuItem {
          width: desktop-vw(180px);
        }
      }
    }
  }

  .navItemC {
    align-items: center;
    border-radius: desktop-vw(11px);
    column-gap: desktop-vw(8px);
    display: flex;
    height: calc(var(--nav-height) - desktop-vw(8px));
    justify-content: center;
    padding: desktop-vw(10px) desktop-vw(32px);
    transition: 300ms all ease;

    &.requestADemo {
      background: var(--innocent-snowdrop);

      @include hover {
        &:hover {
          background: var(--innocent-snowdrop);
        }
      }
    }

    @include hover {
      &:hover {
        background: var(--t-color-primary);
      }
    }

    .itemText {
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 500;
    }

    .iconC {
      height: desktop-vw(4px);
      width: desktop-vw(12px);

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menuC {
    @include position(absolute, 75%, auto, auto, 50%);
    transform: translateX(-50%);
  }

  .menu {
    background: var(--t-color-secondary);
    border-radius: desktop-vw(11px);
    box-shadow: 0px 0px 8px #00000033;
    margin-top: desktop-vw(30px);
    // min-width: desktop-vw(850px);
    padding: desktop-vw(15px);
    transform-origin: top center;

    .content {
      @include dims(100%);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      column-gap: desktop-vw(40px);
      row-gap: desktop-vw(10px);

      .menuItem {
        align-items: flex-start;
        border-radius: desktop-vw(8px);
        column-gap: desktop-vw(20px);
        display: flex;
        justify-content: flex-start;
        padding: desktop-vw(10px) desktop-vw(15px);
        transition: 300ms all ease;
        will-change: transform;
        width: desktop-vw(345px);

        @include hover {
          &:hover {
            background: var(--t-color-primary);

            .desc {
              color: var(--black);
            }
          }
        }
      }

      .menuItem > .iconC {
        @include dims(desktop-vw(45px));
        flex-shrink: 0;
      }

      .menuItem > .text > h5 {
        font-family: var(--font-wt-gothic);
        font-size: desktop-vw(13px);
        font-weight: 700;
        margin-bottom: desktop-vw(12px);

        &:last-child {
          margin-bottom: 0;
        }
      }

      .menuItem > .text > p {
        color: var(--brushed-nickel);
        font-family: var(--font-inter);
        font-size: desktop-vw(10px);
        font-weight: 400;
        line-height: 2;
        transition: 300ms all ease;
      }
    }
  }
}
