.header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  margin-bottom: calc(var(--header-height) * -1);
  padding: 0 desktop-vw(90px);
  position: relative;
  z-index: z-index('header');

  --t-color-primary: #{transparent};
  --t-color-secondary: #{transparent};

  &.features {
    --t-color-primary: #{var(--water-squirt)};
    --t-color-secondary: #{var(--sparkling-snow)};
  }

  &.services {
    --t-color-primary: #{var(--alyssa)};
    --t-color-secondary: #{var(--placebo-orange)};
  }

  &.resources {
    --t-color-primary: #{var(--heron-plume)};
    --t-color-secondary: #{var(--leukocyte-white)};
  }

  .logoC {
    @include dims(desktop-vw(111px), auto);

    @include mobile {
      @include dims(mobile-vw(90px), auto);
    }
  }

  .actions {
    column-gap: desktop-vw(10px);
    display: flex;

    @include mobile {
      display: none;
    }

    .btn {
      align-items: center;
      border: 1px solid var(--lavender-syrup);
      border-radius: desktop-vw(6px);
      column-gap: desktop-vw(8px);
      display: flex;
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 500;
      padding: desktop-vw(3px) desktop-vw(15px);

      .iconC {
        height: desktop-vw(4px);
        width: desktop-vw(12px);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .navbarC {
    position: fixed;
    top: calc(
      var(--upcoming-accordion-height) +
        ((var(--header-height) - var(--nav-height)) / 2)
    );
    left: 50%;
    height: var(--nav-height);
    transform: translateX(-50%);

    // position: absolute;
    // top: calc(((var(--header-height) - var(--nav-height)) / 2));
    // left: 50%;
    // transform: translateX(-50%);

    @include mobile {
      left: auto;
      right: mobile-vw(20px);
      transform: none;
    }
  }
}
