.selectTrigger {
  @include dims(100%);
  align-items: center;
  column-gap: desktop-vw(8px);
  display: inline-flex;
  font-size: desktop-vw(15px);
  font-family: var(--font-inter);
  font-weight: 400;
  justify-content: space-between;

  @include mobile {
    column-gap: mobile-vw(8px);
    font-size: mobile-vw(14px);
  }

  &[data-placeholder] {
    color: var(--black);
  }

  .selectIcon {
    flex-shrink: 0;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
  }
}

.selectContent {
  background-color: var(--white);
  border: 1px solid var(--hydrargyrum);
  border-radius: desktop-vw(12px);
  overflow: hidden;
  z-index: z-index('cursor');

  @include mobile {
    border-radius: mobile-vw(12px);
  }
}

.selectViewport {
  padding: desktop-vw(2px);

  @include mobile {
    padding: mobile-vw(2px);
  }
}

.selectItem {
  align-items: center;
  display: flex;
  font-family: Inter;
  font-size: desktop-vw(16px);
  font-weight: 400;
  height: desktop-vw(36px);
  padding: 0 desktop-vw(35px) 0 desktop-vw(25px);
  position: relative;
  user-select: none;

  @include mobile {
    height: mobile-vw(36px);
    font-size: mobile-vw(14px);
    padding: 0 mobile-vw(16px);
  }

  &[data-disabled] {
    color: var(--hydrargyrum);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--zhen-zhu-bai-pearl);
  }
}

.selectLabel {
  padding: desktop-vw(25px);
  font-size: desktop-vw(16px);
}

// .selectItemIndicator {
//   @include dims(desktop-vw(12px));
//   position: absolute;
//   left: 0;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;

//   @include mobile {
//     @include dims(mobile-vw(12px));
//   }
// }

.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--black);
  cursor: default;
}
