.selectTrigger {
  @include dims(100%);
  align-items: center;
  column-gap: desktop-vw(8px);
  display: inline-flex;
  font-size: desktop-vw(15px);
  font-family: Inter;
  font-weight: 400;
  justify-content: flex-start;
  padding: desktop-vw(15px) desktop-vw(20px);

  &[data-placeholder] {
    color: var(--black);
  }

  .selectIcon {
    @include dims(auto, desktop-vw(4px));
    display: flex;
    margin-left: auto;
    object-fit: contain;
  }
}

.selectContent {
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--hydrargyrum);
  border-radius: desktop-vw(12px);
  z-index: 99999999999;
}

.selectViewport {
  padding: desktop-vw(2px);
}

.selectItem {
  align-items: center;
  // border-radius: desktop-vw(6px);
  display: flex;
  font-family: Inter;
  font-size: desktop-vw(16px);
  font-weight: 400;
  height: desktop-vw(36px);
  padding: 0 desktop-vw(35px) 0 desktop-vw(25px);
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: var(--hydrargyrum);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--zhen-zhu-bai-pearl);
  }
}

.selectLabel {
  padding: desktop-vw(25px);
  font-size: desktop-vw(16px);
}

.selectItemIndicator {
  @include dims(desktop-vw(12px));
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.selectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--black);
  cursor: default;

  .iconC {
    @include dims(desktop-vw(12px));

    &.up {
      transform: rotate(180deg);
    }
  }
}
