.screensC {
  margin-bottom: desktop-vw(40px);
}

.loading {
  @include dims(100%);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .prevC {
    margin-right: auto;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  .nextC,
  .sendC {
    margin-left: auto;
  }
}
