.text {
  margin: desktop-vw(75px) auto 0 auto;
  text-align: center;
  width: desktop-vw(900px);

  @include mobile {
    padding: mobile-vw(30px) mobile-vw(16px);
    width: 100%;
  }

  & > h1 {
    font-family: var(--font-inter);
    font-size: desktop-vw(15px);
    font-weight: 500;
    margin-bottom: desktop-vw(10px);

    @include mobile {
      font-size: mobile-vw(18px);
      margin-bottom: mobile-vw(30px);
    }
  }

  & > p {
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(50px);
    font-weight: 700;
    margin-bottom: desktop-vw(30px);

    @include mobile {
      font-size: mobile-vw(28px);
      line-height: 1.5;
      margin: auto;
      margin-bottom: mobile-vw(30px);
      width: 90%;
    }

    & > span {
      color: var(--mint-blue);
      white-space: nowrap;
    }
  }
}

.contactFormC {
  margin: 0 auto desktop-vw(50px) auto;
  padding: desktop-vw(80px) desktop-vw(170px);
  width: desktop-vw(1080px);
  min-height: 100vh;

  @include mobile {
    min-height: unset;
    padding: 0 var(--mobile-padding-x);
    width: 100%;
  }
}
