.accordion {
  overflow: hidden;
  will-change: height;

  &.open {
    .accordionHeader {
      .close {
        opacity: 1;
        pointer-events: auto;
      }

      .iconC {
        &.arrow {
          transform: rotateX(180deg);
        }
      }
    }

    .accordionBody {
      &::after {
        opacity: 1;
      }
    }
  }
}

.accordionHeader {
  align-items: center;
  column-gap: desktop-vw(8px);
  display: flex;
  height: var(--upcoming-accordion-height);
  justify-content: center;
  padding: 0 desktop-vw(16px);

  @include mobile {
    column-gap: mobile-vw(8px);
    padding: 0 mobile-vw(16px);
  }

  & > * {
    align-items: center;
    column-gap: desktop-vw(8px);
    display: flex;

    @include mobile {
      column-gap: mobile-vw(8px);
    }
  }

  .title,
  .close {
    font-family: var(--font-inter);
    font-size: desktop-vw(12px);
    font-weight: 500;

    @include mobile {
      font-size: mobile-vw(12px);
    }
  }

  .iconC {
    @include dims(desktop-vw(10px), auto);

    @include mobile {
      @include dims(mobile-vw(10px), auto);
    }

    &.arrow {
      transition: 800ms transform ease;
      will-change: transform;
    }
  }

  .close {
    opacity: 0;
    pointer-events: none;
    transition: 500ms opacity ease;

    &.dummy {
      visibility: hidden;
    }
  }
}

.accordionBody {
  --gradient-height: #{desktop-vw(200px)};
  --margin-top: #{desktop-vw(50px)};
  height: calc(90vh - var(--margin-top));
  margin-top: var(--margin-top);
  overflow: scroll;
  overscroll-behavior: contain;
  padding-bottom: calc(var(--gradient-height) / 2);

  @include mobile {
    --margin-top: #{mobile-vw(20px)};
    --gradient-height: #{mobile-vw(200px)};
  }

  &::after {
    content: '';
    @include position(absolute, auto, 0, 0, 0);
    @include dims(100%, var(--gradient-height));
    background: linear-gradient(
      180deg,
      var(#{--theme-primary}-transparent) 0%,
      var(--theme-secondary) 100%
    );
    opacity: 0;
    pointer-events: none;
    transition: 400ms all ease;

    @include mobile {
      @include dims(100%, var(--gradient-height));
    }
  }
}

.overflowC {
  height: 0;
}
