.button {
  --mobile-width: #{mobile-vw(240px)};
  align-items: center;
  border: 1px solid var(--hydrargyrum);
  border-radius: desktop-vw(11px);
  display: inline-flex;
  padding: desktop-vw(3px) desktop-vw(3px) desktop-vw(3px) 0;
  transition: 400ms border var(--ease-out-expo);

  @include mobile {
    border-radius: mobile-vw(11px);
    padding: mobile-vw(2px);
  }

  @include hover {
    &:hover {
      border: 1px solid var(--aria);

      .iconC {
        background: var(--theme-secondary);
        transform: scale(0.8);

        .transformC {
          transform: translateX(100%);
          opacity: 0;

          &.tuple {
            opacity: 1;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }

  &.inverted {
    flex-direction: row-reverse;
    padding: desktop-vw(3px) 0 desktop-vw(3px) desktop-vw(3px);

    .iconC {
      transform: rotate(180deg);
    }
  }

  &.sm {
    @include dims(desktop-vw(240px), desktop-vw(47px));

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.md {
    @include dims(desktop-vw(240px), desktop-vw(47px));

    .text {
      span {
        font-size: desktop-vw(15px);

        @include mobile {
          font-size: mobile-vw(15px);
        }
      }
    }

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.lg {
    @include dims(desktop-vw(350px), desktop-vw(68px));

    .text {
      span {
        font-size: desktop-vw(21px);

        @include mobile {
          font-size: mobile-vw(15px);
        }
      }
    }

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.xl {
    @include dims(desktop-vw(350px), desktop-vw(68px));

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  .text {
    flex: 1;
    overflow: hidden;

    span {
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 500;
      margin-left: desktop-vw(20px);
      margin-right: desktop-vw(40px);
    }

    @include mobile {
      font-size: mobile-vw(15px);
      margin-left: mobile-vw(20px);
    }
  }

  .iconC {
    @include dims(20%, 100%);
    align-items: center;
    background: var(--theme-primary);
    border-radius: desktop-vw(8px);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: 300ms all ease;

    @include mobile {
      border-radius: mobile-vw(8px);
    }

    .transformC {
      @include dims(100%);
      transition: 800ms all var(--ease-out-expo);
      will-change: transform;

      &.tuple {
        @include position(absolute, 50%, auto, 0, 0);
        opacity: 0;
        transform: translate(-150%, -50%);
      }
    }

    .icon {
      @include dims(40%);
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
