.button {
  --mobile-width: #{mobile-vw(240px)};
  align-items: center;
  border: 1px solid var(--hydrargyrum);
  border-radius: desktop-vw(11px);
  display: inline-flex;
  padding: desktop-vw(2px);

  @include mobile {
    border-radius: mobile-vw(11px);
    padding: mobile-vw(2px);
  }

  .text {
    flex: 1;
    font-family: var(--font-inter);
    font-size: desktop-vw(15px);
    font-weight: 500;
    margin-left: desktop-vw(20px);

    @include mobile {
      font-size: mobile-vw(15px);
      margin-left: mobile-vw(20px);
    }
  }

  &.sm {
    @include dims(desktop-vw(240px), desktop-vw(47px));

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.md {
    @include dims(desktop-vw(240px), desktop-vw(47px));

    .text {
      font-size: desktop-vw(15px);

      @include mobile {
        font-size: mobile-vw(15px);
      }
    }

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.lg {
    @include dims(desktop-vw(350px), desktop-vw(68px));

    .text {
      font-size: desktop-vw(21px);

      @include mobile {
        font-size: mobile-vw(15px);
      }
    }

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  &.xl {
    @include dims(desktop-vw(350px), desktop-vw(68px));

    @include mobile {
      @include dims(var(--mobile-width), mobile-vw(47px));
    }
  }

  .iconC {
    @include dims(20%, 100%);
    align-items: center;
    background: var(--innocent-snowdrop);
    border-radius: desktop-vw(8px);
    display: flex;
    justify-content: center;

    @include mobile {
      border-radius: mobile-vw(8px);
    }

    .icon {
      @include dims(40%);
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
