.button {
  align-items: center;
  border: 1px solid var(--black);
  border-radius: desktop-vw(8px);
  display: inline-flex;
  height: desktop-vw(47px);
  padding: 2px;

  .text {
    flex: 1;
    font-family: Inter;
    font-size: desktop-vw(15px);
    font-weight: 500;
    margin: 0 desktop-vw(45px) 0 desktop-vw(20px);
  }

  .iconC {
    @include dims(desktop-vw(53px), 100%);
    background: var(--innocent-snowdrop);
    border-radius: desktop-vw(6px);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
