.pinnedFeatures {
  @include dims(100%, 100vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 desktop-vw(100px);
  position: relative;

  @include mobile {
    @include dims(auto);
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    padding: 0 var(--mobile-padding-x);
  }
}

.item {
  @include dims(100%, 100vh);

  @include mobile {
    @include dims(100%, auto);
  }
}

.text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mobile {
    @include dims(auto);
    align-items: center;
    margin-bottom: mobile-vw(50px);
    text-align: center;
  }

  & > h3 {
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(35px);
    font-weight: 700;
    margin-bottom: desktop-vw(36px);
    position: relative;

    @include mobile {
      font-size: mobile-vw(30px);
      margin-bottom: mobile-vw(25px);
    }

    &::after {
      content: '';
      @include position(absolute, 130%, auto, auto, 0);
      @include dims(130%, 1px);
      background: var(--innocent-snowdrop);

      @include mobile {
        display: none;
      }
    }
  }

  & > p {
    font-family: var(--font-inter);
    font-size: desktop-vw(15px);
    font-weight: 400;
    margin-bottom: desktop-vw(30px);
    width: desktop-vw(385px);

    @include mobile {
      font-size: mobile-vw(15px);
      line-height: 1.5;
      margin-bottom: mobile-vw(15px);
      width: 100%;
    }
  }
}

.videoC {
  @include dims(100%, auto);

  .video {
    @include dims(100%, auto);
  }
}
