.phaseDate {
  & > h3 {
    font-family: var(--font-inter);
    font-size: desktop-vw(15px);
    font-weight: 400;
    margin-bottom: desktop-vw(27px);
    margin-left: desktop-vw(8px);
  }

  .days {
    align-items: center;
    background: var(--zhen-zhu-bai-pearl);
    border-radius: desktop-vw(11px);
    display: flex;
    justify-content: center;
    margin-bottom: desktop-vw(30px);
    overflow: hidden;
    padding: desktop-vw(20px) 0 desktop-vw(35px) 0;
    position: relative;

    &::after {
      content: '';
      @include position(absolute, 0, -10px, 0, auto);
      @include dims(25%, 100%);
      background: linear-gradient(
        90deg,
        var(--zhen-zhu-bai-pearl-transparent) 30%,
        var(--zhen-zhu-bai-pearl) 55%,
        var(--zhen-zhu-bai-pearl) 100%
      );
      pointer-events: none;
      z-index: 100;
    }

    &::before {
      content: '';
      @include position(absolute, 0, auto, 0, -10px);
      @include dims(25%, 100%);
      background: linear-gradient(
        -90deg,
        var(--zhen-zhu-bai-pearl-transparent) 30%,
        var(--zhen-zhu-bai-pearl) 55%,
        var(--zhen-zhu-bai-pearl) 100%
      );
      pointer-events: none;
      z-index: 100;
    }

    .day {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      font-family: var(--font-inter);
      justify-content: center;

      &.disabled {
        opacity: 0.2;
        pointer-events: none;
        display: none;
      }

      &.selected {
        background: var(--innocent-snowdrop);
      }

      .dayName {
        border-bottom: 1px solid var(--aria);
        font-size: desktop-vw(15px);
        font-weight: 400;
        margin-bottom: desktop-vw(14px);
        padding: desktop-vw(14px);
      }

      .bottom {
        align-items: center;
        border-radius: desktop-vw(8px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: desktop-vw(7px) desktop-vw(15px);
        row-gap: desktop-vw(8px);

        @include hover {
          &:hover {
            background: var(--alpine-goat);
          }
        }

        .dayNumber {
          font-size: desktop-vw(18px);
          font-weight: 700;
        }

        .dayMonth {
          font-size: desktop-vw(18px);
          font-weight: 400;
        }
      }
    }
  }

  .timeZone {
    @include dims(auto, desktop-vw(47px));
    background: var(--zhen-zhu-bai-pearl);
    border-radius: desktop-vw(8px);
    overflow: hidden;
    position: relative;
  }

  .time {
    display: grid;
    grid-template-columns: desktop-vw(240px) 1fr;
    column-gap: desktop-vw(22px);
  }

  .hours {
    align-items: flex-start;
    background: var(--zhen-zhu-bai-pearl);
    border-radius: desktop-vw(11px);
    display: flex;
    flex-wrap: wrap;
    gap: desktop-vw(21px);
    justify-content: flex-start;
    margin-bottom: desktop-vw(40px);
    padding: desktop-vw(20px) desktop-vw(22px);

    .hour {
      align-items: center;
      background: var(--white);
      border-radius: desktop-vw(8px);
      display: flex;
      justify-content: center;
      padding: desktop-vw(7px) 0;
      width: desktop-vw(70px);

      & > span {
        font-family: var(--font-inter);
        font-size: desktop-vw(16px);
      }

      &:hover {
        background: var(--alpine-goat);
      }

      &.selected {
        background: var(--innocent-snowdrop);
      }
    }
  }
}
