.success {
  align-items: center;
  background: var(--zhen-zhu-bai-pearl);
  border-radius: desktop-vw(11px);
  display: flex;
  flex-direction: column;

  .thanks {
    align-items: center;
    background: var(--white);
    border-radius: desktop-vw(30px);
    display: flex;
    flex-direction: column;
    margin: desktop-vw(25px);
    padding: desktop-vw(35px) desktop-vw(25px);

    & > h2 {
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(60px);
      font-weight: 700;
      margin-bottom: desktop-vw(30px);
      text-align: center;

      @include mobile {
        font-size: mobile-vw(40px);
        margin-bottom: mobile-vw(30px);
      }
    }

    & > p {
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 400;
      margin-bottom: desktop-vw(20px);
      line-height: 1.8;
      text-align: center;

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(20px);
      }

      & > a {
        font-weight: 500;
        text-decoration: underline;
      }
    }

    & > small {
      display: inline-block;
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: desktop-vw(100px);
      text-align: center;
      width: desktop-vw(400px);

      @include mobile {
        font-size: mobile-vw(16px);
        margin-bottom: mobile-vw(30px);
        width: 100%;
      }
    }
  }

  .message {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: desktop-vw(25px);
    width: 100%;

    @include mobile {
      border-radius: mobile-vw(11px);
      padding: mobile-vw(30px) mobile-vw(16px);
    }

    & > p {
      font-family: var(--font-inter);
      font-size: desktop-vw(20px);
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: desktop-vw(30px);
      text-align: center;

      @include mobile {
        font-size: mobile-vw(15px);
        margin-bottom: mobile-vw(30px);
      }
    }

    .seperator {
      @include dims(100%, 2px);
      background: var(--aria);
      margin: desktop-vw(50px) 0;

      @include mobile {
        margin: mobile-vw(30px) 0;
      }
    }

    .dateTime {
      align-items: center;
      column-gap: desktop-vw(20px);
      display: flex;
      margin-bottom: desktop-vw(40px);

      @include mobile {
        align-items: center;
        flex-direction: column;
        margin-bottom: mobile-vw(40px);
        row-gap: mobile-vw(10px);
      }

      .box {
        align-items: center;
        background: var(--white);
        border-radius: desktop-vw(8px);
        column-gap: desktop-vw(8px);
        display: flex;
        font-family: var(--font-inter);
        font-size: desktop-vw(20px);
        font-weight: 500;
        padding: desktop-vw(10px);

        @include mobile {
          border-radius: mobile-vw(8px);
          column-gap: mobile-vw(8px);
          font-size: mobile-vw(20px);
          padding: mobile-vw(10px);
        }

        & > .iconC {
          @include dims(desktop-vw(30px));
          flex-shrink: 0;

          @include mobile {
            @include dims(mobile-vw(30px));
          }
        }
      }
    }

    .info {
      align-items: center;
      column-gap: desktop-vw(20px);
      display: flex;
      width: 50%;

      @include mobile {
        align-items: center;
        flex-direction: column;
        width: 90%;
      }

      .imgC {
        @include dims(desktop-vw(64px));
        border-radius: 50%;
        flex-shrink: 0;
        overflow: hidden;

        @include mobile {
          @include dims(mobile-vw(90px));
          margin-bottom: mobile-vw(20px);
        }
      }

      .text {
        @include mobile {
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-bottom: desktop-vw(50px);

          @include mobile {
            margin-bottom: 0;
          }
        }

        & > p {
          font-family: var(--font-wt-gothic);
          font-size: desktop-vw(20px);
          font-weight: 500;
          margin-bottom: desktop-vw(5px);

          @include mobile {
            font-size: mobile-vw(23px);
            margin-bottom: mobile-vw(10px);
            text-align: center;
          }
        }

        & > small {
          display: block;
          font-family: var(--font-wt-gothic);
          font-size: desktop-vw(13px);
          font-weight: 400;
          line-height: 1.5;
          width: desktop-vw(200px);

          @include mobile {
            font-size: mobile-vw(15px);
            text-align: center;
            width: 80%;
          }
        }
      }
    }

    & > small {
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(5px);
      text-align: center;

      @include mobile {
        font-size: mobile-vw(15px);
        line-height: 1.8;
      }

      & > strong {
        font-weight: 700;
      }
    }
  }
}
