.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-slide {
  height: desktop-vw(470px) !important;
  width: desktop-vw(400px) !important;

  @include mobile {
    height: 100% !important;
    width: 100% !important;
  }
}
