.subscribeC {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: desktop-vw(35px) desktop-vw(60px);

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: unset;
    grid-template-rows: unset;
    margin: mobile-vw(35px) mobile-vw(16px);
  }
}

.social {
  align-items: center;
  column-gap: desktop-vw(8px);
  display: flex;

  @include mobile {
    column-gap: mobile-vw(8px);
  }

  .iconC {
    @include dims(desktop-vw(40px));
    border: 1px solid var(--theme-secondary);
    border-radius: 50%;
    padding: desktop-vw(11px);

    @include mobile {
      @include dims(mobile-vw(40px));
      padding: mobile-vw(11px);
    }
  }
}

.subscribe {
  --padding-left: #{desktop-vw(25px)};
  position: relative;

  @include mobile {
    --padding-left: #{mobile-vw(25px)};
    margin-bottom: mobile-vw(50px);
  }

  .field {
    @include mobile {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  .inputC {
    height: desktop-vw(60px);
    border-radius: desktop-vw(11px);
    border: 1px solid var(--theme-secondary);
    margin-bottom: desktop-vw(8px);
    position: relative;
    transition: 0.3s all ease;

    @include mobile {
      border-radius: mobile-vw(11px);
      height: mobile-vw(45px);
      margin-bottom: mobile-vw(8px);
      width: mobile-vw(350px);
    }

    .input {
      @include dims(100%);
      border-radius: desktop-vw(30px);
      font-family: var(--inter);
      font-size: desktop-vw(19px);
      font-weight: 100;
      padding: desktop-vw(14px) var(--padding-left);

      @include mobile {
        border-radius: mobile-vw(30px);
        font-size: mobile-vw(14px);
      }

      &::placeholder {
        color: var(--theme-secondary);
      }
    }

    &.textarea {
      height: desktop-vh(180px);
    }

    &.required {
      border: 2px solid red;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .smallTop {
    color: var(--caribbean-green);
    display: inline-block;
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(19px);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: desktop-vw(8px);
    padding-left: var(--padding-left);

    @include mobile {
      font-size: mobile-vw(14px);
      margin-bottom: mobile-vw(12px);
      padding-left: 0;
      text-align: center;
      width: 70%;
    }
  }

  .smallBottom {
    color: var(--caribbean-green);
    display: inline-block;
    font-family: var(--font-inter);
    font-size: desktop-vw(13px);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: desktop-vw(12px);
    padding-left: var(--padding-left);

    @include mobile {
      font-size: mobile-vw(11px);
      padding-left: 0;
      text-align: center;
      text-align: center;
      width: 90%;
    }
  }

  .submitBtn {
    $distance: 2px;
    @include position(absolute, $distance, $distance, $distance, auto);
    background: var(--kuretake-black-manga);
    border-radius: desktop-vw(30px);
    border: 2px solid var(--kuretake-black-manga);
    color: var(--caribbean-green);
    font-family: var(--font-inter);
    font-size: desktop-vw(20px);
    font-weight: 500;
    height: calc(100% - $distance * 2);
    padding-right: var(--padding-left);
    transition: 0.4s all ease;

    &:hover {
      background: var(--caribbean-green);
    }

    @include mobile {
      border-radius: mobile-vw(30px);
      font-size: mobile-vw(14px);
      width: mobile-vw(100px);
    }
  }

  .resp {
    @include position(absolute, 120%, auto, auto, auto);
    color: var(--liliac);
    display: inline-block;
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(13px);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: desktop-vw(12px);

    @include mobile {
      font-size: mobile-vw(9px);
      text-align: center;
      text-align: center;
      width: 100%;
    }
  }
}
