.subscribeC {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: desktop-vw(35px) desktop-vw(60px);
}

.social {
  display: flex;
  align-items: center;

  column-gap: desktop-vw(8px);

  .iconC {
    @include dims(desktop-vw(40px));
    border: 1px solid var(--wistful);
    border-radius: 50%;
    padding: desktop-vw(11px);
  }
}

.subscribe {
  position: relative;

  --padding-left: 25px;

  @include mobile {
    --padding-left: 25px;
  }

  .inputC {
    height: desktop-vw(60px);
    // width: desktop-vw(540px);
    border-radius: desktop-vw(11px);
    border: 1px solid var(--wistful);
    margin-bottom: desktop-vw(8px);
    position: relative;
    transition: 0.3s all ease;

    @include mobile {
      border-radius: mobile-vw(30px);
      height: mobile-vw(38px);
      width: mobile-vw(344px);
    }

    .input {
      @include dims(100%);
      border-radius: desktop-vw(30px);
      font-family: WTGothic;
      font-size: desktop-vw(19px);
      font-weight: 100;
      padding: desktop-vw(14px) var(--padding-left);

      @include mobile {
        border-radius: mobile-vw(30px);
        font-size: mobile-vw(12px);
      }

      &::placeholder {
        color: var(--wistful);
      }
    }

    &.textarea {
      height: desktop-vh(180px);
    }

    &.required {
      border: 2px solid red;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .smallTop {
    padding-left: var(--padding-left);

    @include mobile {
      padding-left: 0;
    }

    span {
      color: var(--caribbean-green);
      display: inline-block;
      font-family: WTGothic;
      font-size: desktop-vw(19px);
      font-weight: 100;
      line-height: 1.5;
      margin-bottom: desktop-vw(8px);

      @include mobile {
        font-size: mobile-vw(12px);
        margin-bottom: mobile-vw(8px);
        text-align: center;
        width: 100%;
      }
    }
  }

  .smallBottom {
    padding-left: var(--padding-left);

    @include mobile {
      padding-left: 0;
    }

    span {
      color: var(--caribbean-green);
      display: inline-block;
      font-family: WTGothic;
      font-size: desktop-vw(13px);
      font-weight: 100;
      line-height: 1.5;
      margin-bottom: desktop-vw(12px);

      @include mobile {
        font-size: mobile-vw(9px);
        text-align: center;
        text-align: center;
        width: 100%;
      }
    }
  }

  .submitBtn {
    $distance: 2px;
    @include position(absolute, $distance, $distance, $distance, auto);
    background: var(--kuretake-black-manga);
    border-radius: desktop-vw(30px);
    border: 2px solid var(--kuretake-black-manga);
    color: var(--caribbean-green);
    font-family: WTGothic;
    font-size: desktop-vw(20px);
    font-weight: 100;
    height: calc(100% - $distance * 2);
    transition: 0.4s all ease;
    width: desktop-vw(200px);

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--caribbean-green);
    }

    @include mobile {
      border-radius: mobile-vw(30px);
      font-size: mobile-vw(14px);
      width: mobile-vw(100px);
    }
  }

  .resp {
    @include position(absolute, 120%, auto, auto, auto);
    color: var(--liliac);
    display: inline-block;
    font-family: WTGothic;
    font-size: desktop-vw(13px);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: desktop-vw(12px);

    @include mobile {
      font-size: mobile-vw(9px);
      text-align: center;
      text-align: center;
      width: 100%;
    }
  }
}
