.nextItem {
  margin: desktop-vw(20px) 0;
  width: 100%;

  @include mobile {
    margin: mobile-vw(20px) 0;
  }

  .title {
    display: block;
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(20px);
    font-weight: 500;
    margin-bottom: desktop-vw(16px);
    margin-right: auto;
    padding-left: desktop-vw(35px);

    @include mobile {
      font-size: mobile-vw(20px);
    }
  }

  .marqueeC {
    @include dims(100%, desktop-vw(155px));
    align-items: center;
    background: var(--white);
    border-radius: desktop-vw(35px);
    column-gap: desktop-vw(20px);
    display: flex;
    padding: desktop-vw(20px) desktop-vw(20px) desktop-vw(20px) 0;

    @include mobile {
      @include dims(100%, mobile-vw(100px));
    }

    .marqueeText {
      font-family: var(--font-wt-gothic);

      .text {
        margin-right: desktop-vw(60px);
        font-size: desktop-vw(60px);

        @include mobile {
          font-size: mobile-vw(60px);
        }

        &:nth-child(1) {
          font-weight: 400;
        }

        &:nth-child(2) {
          font-style: italic;
          font-weight: 900;
        }
      }
    }

    .iconC {
      @include dims(desktop-vw(155px), 100%);
      background: var(--theme-secondary);
      border-radius: desktop-vw(27px);
      padding: desktop-vw(45px);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }
}
