/* Jelly Blob Div */
.jellyBlob {
  @include position(fixed, 0, 0, 0, 0);
  @include dims(16px);
  background-color: var(--lavender-syrup);
  border-radius: 50%;
  border: 1px solid var(--black);
  opacity: 1;
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  will-change: width, height, transform, border;
  z-index: z-index('cursor');
}

/* Text Inside Jelly Blob */
.insideText {
  color: var(--white);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 300px;
  opacity: 1;
  text-align: center;
  vertical-align: middle;
}
