.cursor {
  @include position(fixed, 0, 0, 0, 0);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: z-index('cursor');
  @include dims(16px);
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%);

  .default {
    @include dims(16px);
    background-color: var(--lavender-syrup);
    border-radius: 50%;
    border: 1px solid var(--black);
  }

  .imgC {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(120px);
    transform: translate(-50%, -50%);
    will-change: transform;
  }
}
