.whyLayers {
  @include dims(100%, 90vh);
  position: relative;

  @include mobile {
    @include dims(100%, 100vh);
  }

  .imgs {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(400px), desktop-vw(540px));
    transform: translate(-50%, -50%);

    @include mobile {
      @include dims(mobile-vw(250px), mobile-vw(350px));
    }

    .imgC {
      @include position(absolute, 0, 0, 0, 0);

      .transformC {
        @include dims(100%);
        border-radius: desktop-vw(30px);
        overflow: hidden;

        @include mobile {
          border-radius: mobile-vw(30px);
        }
      }

      .img {
        @include dims(100%);
        display: block;
        object-fit: cover;
      }
    }
  }

  .textC {
    align-items: center;
    column-gap: desktop-vw(50px);
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    & > span {
      display: inline-block;
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(160px);
      font-weight: 700;

      @include mobile {
        font-size: mobile-vw(50px);
      }

      &:nth-child(1) {
        margin-bottom: desktop-vw(100px);

        @include mobile {
          margin: 0;
          margin-right: mobile-vw(150px);
        }
      }

      &:nth-child(2) {
        margin-top: desktop-vw(100px);

        @include mobile {
          margin: 0;
          margin-left: mobile-vw(150px);
        }
      }
    }
  }
}
