.whyLayers {
  @include dims(100%, 100vh);
  position: relative;

  .imgs {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(360px), desktop-vw(500px));
    transform: translate(-50%, 0);

    .t {
      @include dims(desktop-vw(360px), desktop-vw(500px));
      position: absolute;
    }

    .imgC {
      position: absolute;
      top: 0;
      left: 0;

      @include dims(desktop-vw(460px), desktop-vw(560px));
      overflow: hidden;
      border-radius: 30px;
    }
  }

  .textC {
    align-items: center;
    column-gap: desktop-vw(50px);
    display: flex;
  }

  .textC span {
    display: inline-block;
    font-family: WTGothic;
    font-size: desktop-vw(160px);
    font-weight: 700;

    &:nth-child(1) {
      margin-bottom: desktop-vw(100px);
    }

    &:nth-child(2) {
      margin-top: desktop-vw(100px);
    }
  }
}
