.featureList {
  align-items: flex-start;
  border: 1px solid var(--black);
  border-radius: desktop-vw(11px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: desktop-vw(600px);
  padding: desktop-vw(60px) desktop-vw(120px);
  transition: 0.4s all ease;

  @include mobile {
    border: none;
    border-radius: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    min-height: mobile-vw(300px);
    padding: 0;
  }

  .titles {
    @include mobile {
      column-gap: mobile-vw(8px);
      display: flex;
      flex-wrap: wrap;
      margin-bottom: mobile-vw(30px);
      justify-content: center;
    }

    .title {
      opacity: 0.4;
      transition: 400ms opacity ease;

      @include mobile {
        border: 1px solid var(--black);
        border-radius: mobile-vw(32px);
        flex-shrink: 0;
      }

      &.active {
        opacity: 1;
      }

      & > h5 {
        color: var(--black);
        font-family: var(--font-wt-gothic);
        font-size: desktop-vw(15px);
        font-weight: 400;
        padding: desktop-vw(10px) 0;

        @include mobile {
          font-size: mobile-vw(15px);
          padding: mobile-vw(5px) mobile-vw(10px);
          text-align: center;
        }
      }
    }
  }

  .content {
    & > h5 {
      border-bottom: 2px solid var(--black);
      color: var(--black);
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(35px);
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: desktop-vw(20px);
      padding-bottom: desktop-vw(20px);

      @include mobile {
        font-size: mobile-vw(35px);
        margin-bottom: mobile-vw(20px);
        padding-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    & > p {
      color: var(--black);
      font-family: var(--font-inter);
      font-size: desktop-vw(15px);
      font-weight: 400;
      line-height: 2;

      @include mobile {
        font-size: mobile-vw(15px);
        text-align: center;
      }

      & > span {
        display: block;
        margin-bottom: desktop-vw(25px);

        @include mobile {
          margin-bottom: mobile-vw(25px);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
