.intro {
  .text {
    margin: desktop-vw(75px) auto 0 auto;
    text-align: center;
    width: desktop-vw(900px);

    .contactInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .detail {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
      }

      .detail > label {
        font-family: WTGothic;
        font-size: desktop-vw(15px);
        font-weight: 400;
        margin-bottom: desktop-vw(10px);
      }

      .detail > p {
        font-family: Inter;
        font-size: desktop-vw(28px);
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  .text > h1 {
    font-family: Inter;
    font-size: desktop-vw(15px);
    font-weight: 500;
    margin-bottom: desktop-vw(10px);
  }

  .text > p {
    font-family: WTGothic;
    font-size: desktop-vw(60px);
    font-weight: 700;
    margin-bottom: desktop-vw(30px);
  }

  .text > small {
    display: inline-block;
    font-family: Inter;
    font-size: desktop-vw(15px);
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: desktop-vw(100px);
    width: desktop-vw(400px);
  }

  .contactFormC {
    margin: 0 auto desktop-vw(50px) auto;
    padding: desktop-vw(80px) desktop-vw(170px);
    width: desktop-vw(1080px);
    min-height: desktop-vw(880px);
  }
}
