.intro {
  padding: desktop-vw(50px) 0 desktop-vw(100px) 0;
  position: relative;

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 mobile-vw(16px);
    padding-top: mobile-vw(30px);
  }

  .imgC {
    &.gurl {
      @include position(
        absolute,
        auto,
        desktop-vw(150px),
        desktop-vw(-200px),
        auto
      );
      @include dims(desktop-vw(400px), desktop-vw(500px));

      @include mobile {
        @include position(relative, auto, auto, auto, auto);
        @include dims(mobile-vw(350px), auto);
        margin: 0 auto;
        margin-top: mobile-vw(50px);
      }
    }

    &.allInOne {
      @include position(
        absolute,
        auto,
        desktop-vw(420px),
        desktop-vw(-30px),
        auto
      );
      @include dims(desktop-vw(175px), auto);

      @include mobile {
        @include position(absolute, auto, auto, mobile-vw(150px), 0);
        @include dims(mobile-vw(150px), auto);
      }
    }
  }
}

.references {
  margin: desktop-vw(50px) 0;
}

.peopleFirst {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  margin-bottom: desktop-vw(230px);

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    margin-bottom: mobile-vw(100px);
    padding: 0 mobile-vw(16px);
  }

  .imgs {
    position: relative;

    @include mobile {
      margin-bottom: mobile-vw(125px);
    }

    .imgC {
      overflow: hidden;

      &:nth-child(1) {
        @include position(
          absolute,
          desktop-vw(-150px),
          auto,
          auto,
          desktop-vw(-100px)
        );
        @include dims(desktop-vw(650px), desktop-vw(450px));
        border-radius: desktop-vw(16px);
        transform: rotate(-10deg);

        @include mobile {
          @include position(relative, auto, auto, auto, auto);
          @include dims(100%, mobile-vw(220px));
          border-radius: mobile-vw(16px);
          transform: rotate(-4deg);
        }
      }

      &:nth-child(2) {
        @include position(
          absolute,
          desktop-vw(250px),
          auto,
          auto,
          desktop-vw(100px)
        );
        @include dims(desktop-vw(522px), auto);

        @include mobile {
          @include position(
            absolute,
            mobile-vw(180px),
            auto,
            auto,
            mobile-vw(20px)
          );
          @include dims(mobile-vw(300px), auto);
        }
      }
    }
  }

  .text {
    width: desktop-vw(480px);

    @include mobile {
      width: 100%;
    }

    & > h3 {
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(45px);
      font-weight: 700;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(45px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }
    }

    & > p {
      font-family: var(--font-inter);
      font-size: desktop-vw(18px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(30px);

      @include mobile {
        font-size: mobile-vw(18px);
        margin-bottom: mobile-vw(30px);
        text-align: center;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.services {
  padding: 0 desktop-vw(80px);

  @include mobile {
    padding: 0 mobile-vw(16px);
  }

  .title {
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(45px);
    font-weight: 700;
    margin-bottom: desktop-vw(120px);
    width: desktop-vw(400px);

    @include mobile {
      font-size: mobile-vw(36px);
      margin-bottom: mobile-vw(50px);
      text-align: center;
      width: 100%;
    }
  }

  .grid {
    column-gap: desktop-vw(150px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mobile {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-template-columns: unset;
      padding: 0 mobile-vw(16px);
    }

    .gridItem {
      &:last-child {
        margin-bottom: 0;
      }

      @include mobile {
        margin-bottom: mobile-vw(70px);
      }

      & > .iconC {
        @include dims(desktop-vw(45px));
        margin-bottom: desktop-vw(30px);

        @include mobile {
          @include dims(mobile-vw(105px));
          margin: 0 auto;
          margin-bottom: mobile-vw(20px);
        }
      }

      & > p {
        font-family: var(--font-inter);
        font-size: desktop-vw(18px);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: desktop-vw(30px);

        @include mobile {
          font-size: mobile-vw(18px);
          line-height: 1.7;
          margin-bottom: mobile-vw(30px);
          text-align: center;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.testimonials {
  margin: desktop-vw(140px) 0;
  position: relative;

  & > h4 {
    font-family: var(--font-wt-gothic);
    font-size: desktop-vw(45px);
    font-weight: 700;
    margin-bottom: desktop-vw(60px);
    margin-left: desktop-vw(200px);
    width: desktop-vw(450px);

    @include mobile {
      font-size: mobile-vw(40px);
      margin: 0;
      margin-bottom: mobile-vw(30px);
      padding: 0 mobile-vw(16px);
      text-align: center;
      width: 100%;
    }
  }
}

.slide {
  @include dims(desktop-vw(480px), desktop-vw(325px));
  background: var(--foundation-white);
  border-radius: desktop-vw(27px);
  border-top-left-radius: desktop-vw(68px);
  border-top-right-radius: desktop-vw(68px);
  border-bottom-right-radius: desktop-vw(68px);
  overflow: hidden;
  padding: desktop-vw(20px);

  @include mobile {
    @include dims(mobile-vw(320px), mobile-vw(450px));
    border-radius: mobile-vw(27px);
    padding: mobile-vw(20px);
  }

  .info {
    align-items: center;
    column-gap: desktop-vw(20px);
    display: flex;
    margin-bottom: desktop-vw(60px);

    @include mobile {
      align-items: center;
      flex-direction: column;
    }

    .imgC {
      @include dims(desktop-vw(90px));
      border-radius: 50%;
      flex-shrink: 0;
      overflow: hidden;

      @include mobile {
        @include dims(mobile-vw(120px));
        margin-bottom: mobile-vw(20px);
      }
    }

    .text {
      @include mobile {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: desktop-vw(50px);
      }

      & > p {
        font-family: var(--font-wt-gothic);
        font-size: desktop-vw(23px);
        font-weight: 500;
        margin-bottom: desktop-vw(5px);

        @include mobile {
          font-size: mobile-vw(23px);
          margin-bottom: mobile-vw(10px);
          text-align: center;
        }
      }

      & > small {
        display: block;
        font-family: var(--font-wt-gothic);
        font-size: desktop-vw(15px);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: desktop-vw(5px);
        width: desktop-vw(200px);

        @include mobile {
          font-size: mobile-vw(15px);
          margin-bottom: mobile-vw(5px);
          text-align: center;
          width: 80%;
        }
      }
    }
  }

  & > p {
    font-family: var(--font-inter);
    font-size: desktop-vw(16px);
    font-weight: 400;
    line-height: 1.6;

    @include mobile {
      font-size: mobile-vw(15px);
      margin-bottom: mobile-vw(5px);
      text-align: center;
    }
  }
}
