.slider {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-left: desktop-vw(90px);
  padding-right: desktop-vw(20px);
  padding-top: desktop-vw(30px);

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: mobile-vw(50px) mobile-vw(16px) 0 mobile-vw(16px);
  }

  .text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: desktop-vw(450px);

    @include mobile {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: mobile-vw(50px);
      min-height: mobile-vw(320px);
      width: 90%;
    }

    h2 {
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(45px);
      font-weight: 700;
      margin-bottom: desktop-vw(20px);

      @include mobile {
        font-size: mobile-vw(25px);
        margin-bottom: mobile-vw(20px);
        text-align: center;
      }
    }

    p {
      font-family: var(--font-inter);
      font-size: desktop-vw(17px);
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: desktop-vw(60px);

      @include mobile {
        font-size: mobile-vw(14px);
        margin-bottom: mobile-vw(60px);
        line-height: 1.6;
        text-align: center;
        width: 100%;
      }
    }
  }

  .media {
    @include dims(desktop-vw(670px), desktop-vw(500px));
    border-radius: desktop-vw(12px);
    position: relative;

    @include mobile {
      @include dims(100%, mobile-vw(330px));
      border-radius: mobile-vw(6px);
    }

    .imgC {
      @include dims(inherit);
    }

    .nav {
      @include position(absolute, auto, 0, 0, auto);
      @include dims(desktop-vw(278px), auto);
      align-items: center;
      background: var(--white);
      border-top-left-radius: desktop-vw(12px);
      display: flex;
      justify-content: flex-start;
      padding-left: desktop-vw(30px);
      padding-top: desktop-vw(18px);
      padding-bottom: desktop-vw(8px);

      @include mobile {
        @include dims(auto);
        border-top-left-radius: mobile-vw(6px);
        padding-left: mobile-vw(20px);
        padding-top: mobile-vw(12px);
        padding-bottom: mobile-vw(10px);
        padding-right: mobile-vw(50px);
      }

      .items {
        column-gap: desktop-vw(5px);
        display: flex;

        @include mobile {
          column-gap: mobile-vw(5px);
        }
      }

      .item {
        flex-shrink: 0;
        opacity: 0.3;
        transition: 800ms all var(--ease-out-expo);
        width: desktop-vw(16px);

        @include mobile {
          width: mobile-vw(16px);
        }

        &.active {
          opacity: 1;
          width: desktop-vw(84px);

          @include mobile {
            width: mobile-vw(84px);
          }
        }

        .bar {
          @include dims(100%, 2px);
          background: lightgray;
          border-radius: 4px;
          margin-bottom: desktop-vw(6px);
          position: relative;

          .progress {
            @include position(absolute, 0, 0, 0, 0);
            @include dims(100%);
            background: var(--black);
            will-change: width;
          }
        }

        .index {
          font-family: var(--font-inter);
          font-size: desktop-vw(13px);
          font-weight: 400;
          margin-right: auto;

          @include mobile {
            font-size: mobile-vw(13px);
          }
        }
      }
    }
  }
}
