.contactForm {
  .row {
    display: flex;
    column-gap: desktop-vw(20px);
    margin-bottom: desktop-vw(30px);

    @include mobile {
      flex-direction: column;
      margin-bottom: mobile-vw(8px);
      row-gap: mobile-vw(8px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.interestedProduct {
      margin-bottom: desktop-vw(120px);
      margin-left: desktop-vw(-200px);
      margin-right: desktop-vw(-200px);
      position: relative;

      div > small {
        font-family: var(--font-inter);
        font-size: desktop-vw(18px);
        font-weight: 400;
        margin-bottom: desktop-vw(30px);
        white-space: nowrap;

        span {
          color: var(--mint-blue);
          font-size: desktop-vw(15px);
          font-weight: 700;
        }
      }

      div > .checks {
        flex-wrap: wrap;
        gap: desktop-vw(15px);

        .check {
          border-radius: desktop-vw(8px);
          border: 1px solid var(--hydrargyrum);
          column-gap: desktop-vw(8px);
          padding: desktop-vw(14px) desktop-vw(20px);
          transition: 400ms all ease;

          @include hover {
            &:hover {
              background: var(--cold-white);
            }
          }

          &.selected {
            background: var(--cold-white);
            border: 1px solid var(--cold-white);
            transition: 400ms all ease;

            .checkbox {
              border: 1px solid var(--mint-blue);
              background: var(--mint-blue);

              .fill {
                opacity: 1;
              }
            }
          }

          & > .checkbox {
            --box-dims: #{desktop-vw(16px)};
            @include dims(var(--box-dims));
            background: var(--white);
            border: 1px solid var(--mint-blue);
            border-radius: desktop-vw(4px);
            flex-shrink: 0;
            overflow: hidden;
            position: relative;
            transition: 300ms all ease;

            @include mobile {
              @include dims(var(--box-dims));
              border-radius: mobile-vw(4px);
            }

            .fill {
              @include position(absolute, 50%, auto, auto, 50%);
              @include dims(var(--box-dims));
              background: var(--mint-blue);
              opacity: 0;
              transform: translate(-50%, -50%);
              transition: 400ms all ease;
            }
          }

          & > p {
            font-family: var(--font-inter);
            font-size: desktop-vw(15px);
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }

      &::after {
        content: '';
        @include position(absolute, auto, 0, desktop-vw(-60px), 50%);
        @include dims(desktop-vw(740px), 1px);
        background: var(--mint-blue);
        transform: translateX(-50%);
      }
    }
  }

  .field {
    --input-padding: #{desktop-vw(20px)};
    column-gap: desktop-vw(8px);
    display: flex;
    width: 100%;

    @include mobile {
      --input-padding: #{mobile-vw(16px)};
    }

    .inputC {
      background: #f8f8f8;
      border-radius: desktop-vw(11px);
      flex: 1;
      position: relative;
      transition: 300ms all ease;

      @include mobile {
        border-radius: mobile-vw(11px);
        margin-bottom: mobile-vw(14px);
      }

      .input {
        @include dims(100%);
        border-radius: desktop-vw(11px);
        color: var(--liliac);
        font-family: var(--font-inter);
        font-size: desktop-vw(15px);
        font-weight: 400;
        padding: desktop-vw(15px) var(--input-padding);

        @include mobile {
          border-radius: mobile-vw(11px);
          font-size: mobile-vw(14px);
          padding: mobile-vw(17px) var(--input-padding);
        }

        &::placeholder {
          transition: 0.4s all ease;
        }

        &:focus {
          &::placeholder {
            opacity: 0.3;
          }
        }
      }

      &.textarea {
        height: desktop-vh(180px);
        line-height: 1.5;
        resize: none;
        word-break: break-all;
      }

      &.required {
        box-shadow: red 0px 0px 0px 1px;
      }

      &.disabled {
        opacity: 0.1;
        pointer-events: none;
      }

      &.countryCode {
        flex: 0.2;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .confirmation {
    --box-dims: #{18px};
    align-items: flex-start;
    display: flex;
    margin-bottom: desktop-vw(10px);
    justify-content: flex-start;

    @include mobile {
      --box-dims: #{16px};
      margin-bottom: mobile-vw(20px);
    }

    &.required {
      background: red;
    }

    .checkbox {
      @include dims(var(--box-dims));
      border: 1px solid var(--innocent-snowdrop);
      border-radius: desktop-vw(4px);
      flex-shrink: 0;
      margin-top: 0.25vw;
      position: relative;

      @include mobile {
        @include dims(var(--box-dims));
        border-radius: mobile-vw(4px);
      }

      .fill {
        @include position(absolute, 50%, auto, auto, 50%);
        @include dims(calc(var(--box-dims) - 6px));
        background: var(--innocent-snowdrop);
        border-radius: 2px;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: 300ms all ease;

        &.visible {
          opacity: 1;
        }
      }
    }

    .legalText {
      margin-left: desktop-vw(16px);

      @include mobile {
        margin-left: mobile-vw(10px);
      }

      .small,
      .link {
        color: var(--liliac);
        font-family: var(--font-inter);
        font-size: desktop-vw(15px);
        font-weight: 100;
        line-height: 1.5;
        margin-bottom: 1vw;

        @include mobile {
          font-size: 3.25vw;
        }
      }

      .link {
        text-decoration: underline;
      }
    }
  }
}
