.cardStack {
  @include dims(100vw, 120vh);
  position: relative;

  .cardsC {
    @include position(absolute, 35%, auto, auto, 50%);
    transform: translate(-50%, -50%);

    @include dims(desktop-vw(1200px), desktop-vw(600px));
  }

  .cardC {
    @include position(absolute, 0, 0, 0, 0);
    transition: 1s all cubic-bezier(0.16, 1, 0.3, 1);

    &.first {
      opacity: 0.25;
      transform: translateY(0) scale(0.85);
      z-index: 1;

      // &:hover {
      //   transition: 0.2s all ease;
      //   transform: translateY(-20px) scale(0.85);
      //   opacity: 1;
      // }

      &.active {
        transition: 0.2s all cubic-bezier(0.16, 1, 0.3, 1);
        transform: translateY(-16px) scale(0.85);
        opacity: 1;
      }
    }

    &.second {
      margin-top: 80px;
      opacity: 0.5;
      transform: translateY(0) scale(0.9);
      z-index: 2;

      &.active {
        transition: 0.2s all cubic-bezier(0.16, 1, 0.3, 1);
        transform: translateY(-16px) scale(0.9);
        opacity: 1;
      }
    }

    &.third {
      margin-top: 160px;
      opacity: 0.75;
      transform: translateY(0) scale(0.95);
      z-index: 3;

      &.active {
        transition: 0.2s all cubic-bezier(0.16, 1, 0.3, 1);
        transform: translateY(-16px) scale(0.95);
        opacity: 1;
      }
    }

    &.fourth {
      margin-top: 240px;
      opacity: 1;
      transform: translateY(0) scale(1);
      z-index: 4;
    }

    --card-bg: var(--white);
    --header-font-color: var(--hydrargyrum);
    --header-font-weight: 100;

    &.fourth {
      // transform: scale(1);
      // opacity: 1;

      .cardHeader {
        --card-bg: var(--placebo-purple);
        --header-font-color: var(--black);
        --header-font-weight: 700;
      }
    }

    &.fourth {
      .iconC {
        transform: translateX(30%) scale(1);
      }

      .cardBody {
        opacity: 1;
      }
    }

    .iconC {
      @include position(absolute, desktop-vw(100px), 0, auto, auto);
      @include dims(desktop-vw(200px));
      align-items: center;
      background: var(--innocent-snowdrop);
      border-radius: 50%;
      border: 1px solid var(--white);
      display: flex;
      justify-content: center;

      transform: translateX(30%) scale(0);
      transition: 1s all cubic-bezier(0.87, 0, 0.13, 1);
      transform-origin: center center;
    }
  }

  .transformC {
    pointer-events: none;
  }

  .card {
    @include dims(desktop-vw(1200px), auto);
    background: var(--white);
    border-radius: desktop-vw(26px);
    border: 5px solid var(--innocent-snowdrop);
    overflow: hidden;
    transform-origin: top center;
    transition: 0.4s all cubic-bezier(0.16, 1, 0.3, 1);

    .cardHeader {
      background: var(--card-bg);
      border-bottom: 5px solid var(--innocent-snowdrop);
      color: var(--header-font-color);
      font-weight: var(--header-font-weight);
      transition: 1s all cubic-bezier(0.16, 1, 0.3, 1);
    }

    .cardHeader > h5 {
      font-family: var(--font-wt-gothic);
      font-size: desktop-vw(22px);
      padding: desktop-vw(15px) 0;
      text-align: center;
    }

    .cardBody {
      align-items: center;
      display: grid;
      height: desktop-vw(540px);
      column-gap: desktop-vw(120px);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      opacity: 0;
      transition: 1s all cubic-bezier(0.16, 1, 0.3, 1);
      transform-origin: center center;

      .mediaC {
        align-items: center;
        display: flex;
        height: desktop-vw(450px);
        padding-left: desktop-vw(100px);
      }

      .text {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: desktop-vw(30px);
        text-align: left;
        width: desktop-vw(300px);
      }

      .text > p {
        font-family: var(--font-wt-gothic);
        font-size: desktop-vw(25px);
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: desktop-vw(25px);
      }

      .text > small {
        display: inline-block;
        font-family: var(--font-inter);
        font-size: desktop-vw(18px);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: desktop-vw(40px);
      }
    }
  }
}
