.prevBtn,
.nextBtn {
  @include dims(desktop-vw(40px), desktop-vw(30px));
  background: var(--innocent-snowdrop);
  border-radius: desktop-vw(6px);
  padding: 25%;

  @include mobile {
    @include dims(mobile-vw(40px), mobile-vw(30px));
    border-radius: mobile-vw(6px);
  }

  .transformC {
    transform: rotate(180deg);
  }
}

.day {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter);
  justify-content: center;

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
    display: none;
  }

  .dayName {
    border-bottom: 1px solid var(--aria);
    font-size: desktop-vw(15px);
    font-weight: 400;
    margin-bottom: desktop-vw(14px);
    padding: desktop-vw(14px);

    @include mobile {
      font-size: mobile-vw(15px);
      margin-bottom: mobile-vw(14px);
      padding: mobile-vw(14px);
    }
  }

  .bottom {
    align-items: center;
    border-radius: desktop-vw(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: desktop-vw(7px) desktop-vw(15px);
    row-gap: desktop-vw(8px);

    @include mobile {
      border-radius: mobile-vw(8px);
      padding: mobile-vw(7px) mobile-vw(15px);
      row-gap: mobile-vw(8px);
    }

    &.selected {
      background: var(--innocent-snowdrop);
    }

    @include hover {
      &:hover {
        background: var(--alpine-goat);
      }
    }

    .dayNumber {
      font-size: desktop-vw(18px);
      font-weight: 700;

      @include mobile {
        font-size: mobile-vw(18px);
      }
    }

    .dayMonth {
      font-size: desktop-vw(18px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(18px);
      }
    }
  }
}
