.embla {
  --slide-spacing: #{var(--slide-spacing)};
  width: 100%;

  @include mobile {
    --slide-spacing: #{var(--slide-spacing)};
  }

  .emblaViewport {
    overflow: hidden;

    @include mobile {
      padding: var(--slide-spacing);
    }
  }

  .emblaContainer {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);

    .emblaSlide {
      min-width: 0;
      padding-left: var(--slide-spacing);
      position: relative;
      flex-shrink: 0;

      .emblaSlideContent {
        overflow: hidden;
        width: 100%;
      }
    }
  }
}
