// WT Gothic
@font-face {
  font-family: 'WTGothic';
  src: url('/fonts/WTGothic-Bold.woff2') format('woff2'),
    url('/fonts/WTGothic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'WTGothic';
  src: url('/fonts/WTGothic-BoldItalic.woff2') format('woff2'),
    url('/fonts/WTGothic-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'WTGothic';
  src: url('/fonts/WTGothic-Medium.woff2') format('woff2'),
    url('/fonts/WTGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'WTGothic';
  src: url('/fonts/WTGothic-Regular.woff2') format('woff2'),
    url('/fonts/WTGothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'WTGothic';
  src: url('/fonts/WTGothic-RegularItalic.woff2') format('woff2'),
    url('/fonts/WTGothic-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// Inter
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2'),
    url('/fonts/Inter-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// Dream Believer
@font-face {
  font-family: 'DreamBeliever';
  src: url('/fonts/DreamBeliever.woff2') format('woff2'),
    url('/fonts/DreamBeliever.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
