@import './_reset.scss';
@import './_fonts.scss';
@import './_colors.scss';
@import './_easings.scss';
@import './_functions.scss';
// @import './_layout.scss';
@import './_utils.scss';
@import './_font-style.scss';
@import './_themes.scss';
@import './_scroll.scss';

:root {
  --header-height: #{desktop-vw(120px)};

  @include mobile {
    --header-height: #{mobile-vw(120px)};
  }
}

html {
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--kuretake-black-manga);
  scrollbar-width: thin;

  background-color: var(--theme-primary);
  color: var(--theme-secondary);
}

html,
body {
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

*::selection {
  background-color: var(--caribbean-green);
  color: var(--kuretake-black-manga);
}

main {
  overflow: hidden;
  position: relative;
  z-index: z-index('main');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

.italic {
  font-style: italic;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}

// Be sure markers on top
.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
  z-index: z-index('gsap-markers') !important;
}

.content-box {
  &-sm {
    background: var(--white);
    border-radius: desktop-vw(30px);
    flex: 1;
    margin: 0 desktop-vw(8px) desktop-vw(20px) desktop-vw(8px);
    padding: desktop-vw(120px) desktop-vw(16px);
  }

  &-md {
    background: var(--white);
    border-radius: desktop-vw(30px);
    flex: 1;
    margin: desktop-vw(20px) desktop-vw(16px);
    padding: desktop-vw(100px) 0;
  }

  &-lg {
    background: var(--white);
    border-radius: desktop-vw(30px);
    flex: 1;
    margin: desktop-vw(20px) desktop-vw(60px);
    padding: desktop-vw(80px) 0;
  }
}
