.hamburger {
  @include dims(mobile-vw(80px), 100%);
  background: var(--leukocyte-white);
  border-radius: mobile-vw(16px);
  font-size: mobile-vw(16px);
  font-family: var(--font-wt-gothic);
  padding-bottom: mobile-vw(2px);
  position: relative;
  transition: 200ms background ease;
  z-index: z-index('hamburger');

  &.open {
    background: var(--theme-primary);
  }
}

.navigation {
  --t-color-primary: #{transparent};
  --t-color-secondary: #{transparent};
  @include position(
    absolute,
    calc(
      0% - 1px - var(--upcoming-accordion-height) -
        ((var(--header-height) - var(--nav-height)) / 2)
    ),
    mobile-vw(-15px),
    auto,
    auto
  );
  @include dims(100vw, 100vh);
  background: var(--leukocyte-white);

  column-gap: mobile-vw(4px);
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  z-index: z-index('navigation-mobile');

  &.features {
    --t-color-primary: #{var(--water-squirt)};
    --t-color-secondary: #{var(--sparkling-snow)};
  }

  &.services {
    --t-color-primary: #{var(--alyssa)};
    --t-color-secondary: #{var(--placebo-orange)};
  }

  &.resources {
    --t-color-primary: #{var(--heron-plume)};
    --t-color-secondary: #{var(--leukocyte-white)};
  }

  .navItemC {
    align-items: center;
    column-gap: mobile-vw(8px);
    display: flex;
    padding: mobile-vw(10px) mobile-vw(16px);
    transition: 400ms background ease;

    &.active {
      background: var(--t-color-secondary);

      .iconC {
        transform: rotateX(180deg);
      }
    }

    & > p {
      font-family: var(--font-inter);
      font-size: mobile-vw(15px);
      font-weight: 500;

      @include mobile {
        font-size: mobile-vw(15px);
      }
    }

    & > .iconC {
      @include dims(mobile-vw(12px), mobile-vw(4px));
      align-items: center;
      display: flex;
      justify-content: center;
      transition: 400ms transform ease;
    }
  }
}

.submenu {
  background: var(--t-color-primary);
  overflow: hidden;
  transition: 400ms background ease;

  .links {
    width: 100%;
    max-height: mobile-vw(360px);
    overflow-y: scroll;
    overscroll-behavior: contain;

    .menuItem {
      align-items: flex-start;
      border-radius: mobile-vw(8px);
      column-gap: mobile-vw(20px);
      display: flex;
      justify-content: flex-start;
      font-family: var(--font-wt-gothic);
      font-size: mobile-vw(13px);
      font-weight: 500;
      padding: mobile-vw(13px) mobile-vw(28px);
    }
  }
}
